<p id="home_title">Networking <span>without</span> the awkward silence and staring contest.</p>

<div id="home_stage">
	<%= image_tag("home/placeholder.png", :alt => "knownagain helps you network") %>
	<p id="home_stage_p1">Build a bridge, not a database.</p>
	<p id="home_stage_p2"><span><span>known</span>again</span> simplifies networking by helping you
	reestablish connections with those you’ve lost touch 
	with. It lets you reconnect with old friends,colleagues, 
	work buddies, and even people you’ve met only once. 
	Start building your network and keep track of those 
	that you’ve reached out to.</p>
	<p id="home_stage_p3">Why do I need to network?</p>
	<%= image_tag("home/startnow.png", :mouseover => image_path("home/startnow_hover.png"), :alt => "Start using knownagain now!") %>
</div>

<div id="home_features">
	<div id="home_updates">
		<p>It's all about people. It's about networking and being nice to people and not burning any bridges.
		<span>Networking Facts</span></p>
	</div>
	
	<div id="home_box1">
		<p>Topic Generation</p>
		<p>No need to think of what to say. 
		We’ve got you covered with plenty 
		of specific ideas to converse.</p>
	</div>
	
	<div id="home_box2">
		<p>Rendezvous</p>
		<p>Meet up with old friends or strangers
		and expand your network beyond
		your current circle.</p>
	</div>
	
	<div id="home_box3">
		<p>Latest in Networking</p>
		<p></p>
	</div>
</div>